body {
}
header {    
    padding: 0px 0px 70px 0px; /* shorthand voor top, right, bottom, left */
}
#hobbyWebsiteLogo
{
    float:left;
}
nav {
    float:left;
    padding:10px 20px 10px 20px;
    background:pink;
}
nav a {
    text-decoration:none;
    padding:0px 20px 0px 20px;
    color:white;
}
